<div class="container">
  <h2>{{title}}</h2>
  <p>You are currently editing a guest's records. Click "Update Records" to save changes.</p>
  <form class="form-horizontal" action="{{person.url}}/update" method="POST">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="lastName">Last Name: </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="lastName" id="lastName" value="{{person.lastName}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="firstName">First Name:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="firstName" id="firstName" value="{{person.firstName}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="cellPhone">Cell Phone:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="cellPhone" id="cellPhone" value="{{person.cellPhone}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">Email:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="email" id="email" value="{{person.email}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="homePhone">Home Phone:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="homePhone" id="homePhone" value="{{person.homePhone}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="homeAddress">Home Address:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="homeAddress" id="homeAddress" value="{{person.homeAddress}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="city">City:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="city" id="city" value="{{person.city}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="state">State:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="state" id="state" value="{{person.state}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="zipCode">ZipCode:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="zipCode" id="zipCode" value="{{person.zipCode}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="emergencyContact">Emergency Contact:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="emergencyContact" id="emergencyContact" value="{{person.emergencyContact}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="emergencyPhone">Emergency Phone:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="emergencyPhone" id="emergencyPhone" value="{{person.emergencyPhone}}">
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg" value="Update record">Update Record</button>
  </form>
</div>

