<!--<input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">-->
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" id="myInput" placeholder="Search by last name, phone, or email." aria-label="Search">
</div>
<table id="myTable" class="table table-bordered">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Cell Phone</th>
        <th></th>
      </tr>
    </thead>
    {{#if guest_list}}
	{{#each guest_list}}
	<tr>
        <td>
            {{lastName}}
        </td>
        <td>
			{{firstName}}
        </td>
        <td>
			{{email}}
        </td>
        <td>
			{{cellPhone}}
        </td>
        <td>
            <button type="button" class="btn btn-success btn-lg" value="More Details" onclick="window.location.href='{{url}}'">Start!</button>
        </td>
    </tr>
	{{/each}}
	{{else}}
		<h2>
			No Guest's Found
		</h2>
	{{/if}}
</table>

<button type="button" class="btn btn-success btn-lg" value="New Guest" onclick="window.location.href='/users/person/create'">New Guest</button>

<script>
  function filterTable(event) {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#myTable tbody").rows;
    
    for (var i = 0; i < rows.length; i++) {
        var firstCol = rows[i].cells[0].textContent.toUpperCase();
        var secondCol = rows[i].cells[1].textContent.toUpperCase();
        var thirdCol = rows[i].cells[2].textContent.toUpperCase();
        var fourthCol = rows[i].cells[3].textContent.toUpperCase();
        if (
          firstCol.indexOf(filter) > -1 
          || secondCol.indexOf(filter) > -1 
          || thirdCol.indexOf(filter) > -1
          || fourthCol.indexOf(filter) > -1 
          )
          {rows[i].style.display = "";}
        else {rows[i].style.display = "none";}      
    }
}

document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>
