<body>
    <h1>{{title}}</h1>
    <h2>{{person.name}}</h2>
    <h3>{{person._id}}</h3>
    <p>Email Address: {{person.email}}</p>
    <p>Cell Phone: {{person.cellPhone}}</p>

    <a href="{{person.url}}/delete">Delete Guest</a>
    <a href="{{person.url}}/update">Update Guest</a>
</body>