<body>
<p> Guest: {{registration.guest.name}}</p>
<p> Patient: {{registration.patient.name}}</p>
<p> Staff: {{registration.staff.name}}</p>
<p> Room: {{registration.room.number}}</p>
<p> Checked In: {{registration.checkIn}}</p>
<p> Checked Out: {{registration.checkOut}}</p>
<p> Number of Keys: {{registration.numKeys}}</p>
<p> Items on Loan: {{registration.loans}}</p>
<p> Comments: {{registration.comments}}</p>
<a href=“/users/Registration/{{registration._id}}/update”> Update Registration</a>
</body>