<h1>{{title}}</h1>
<p> Guest: {{registration.guest.name}}</p>
<p> Patient: {{registration.patient}}</p>
<p> Staff: {{registration.staff}}</p>
<p> Room: {{registration.room.roomNumber}}</p>
<p> Checked In: {{registration.checkedIn}}</p>
<p> Checked Out: {{registration.checkedOut}}</p>
<p> Number of Keys: {{registration.numbKeys}}</p>
<p> Items on Loan: {{registration.loans}}</p>
<p> Comments: {{registration.comments}}</p>
<a href="{{registration.url}}/update"> Update Registration</a>
