<body>
    <h1>{{room.name}}</h1>
    <p>Room ID: {{room._id}}</p>
    <h4>Room Number: {{room.roomNumber}}</h4>
    <h4>Handicap Room: {{room.handicapAccess}}</h4>
    <h3>Status: {{room.status}}</h3>

    <a href='/admin/Room/'>Return to list</a>
</body>